# Single Provider Example
MANAS_DB_CONFIG='[{"type": "mongodb", "uri": "mongodb+srv://..."}]'

# Polyglot Provider Example
# MANAS_DB_CONFIG='[{"type": "mongodb", "uri": "..."}, {"type": "postgres", "uri": "..."}]'